@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

article {
  display: inline-block;
}

.clothes_products_page {
  width: 95%;
  margin: 50px auto;
}


.clothes_products_page .list_items_clothes {
  /* margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.clothes_products_page .list_items_clothes .product_clothes {
  /* display: grid; */
  border: 1px #ccc solid;
  border-radius: 10px;
  padding: 8px;
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  object-fit: cover;
  /* height: 400px; */
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes {
  position: relative;
  overflow: hidden;

}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes:hover a img {
  transform: scale(1.1);
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes:hover .cartIcon {
  opacity: 1;
  display: block;
  /* z-index: 1; */
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes .cartIcon {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  /* padding: 44.2% 0; */
  padding: 46% 2% 44.2%;
  opacity: .6;
  /* transition: opacity 0.3s ease; */
  cursor: pointer;
  color: #fff !important;
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_img_clothes .cartIcon path {
  color: #fff;
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_name_clothes .name_clothes {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_name_clothes .name_clothes .starIcon path {
  color: yellow;
}

.clothes_products_page .list_items_clothes .product_clothes .slect_product_clothes .product_name_clothes .name_clothes .price_clothes {
  margin-top: 8px;
  font-size: 20px;
}

.soluong_products {
    color: #000;
    margin-left: 2.5%;
    margin-top: 40px;
}


